/* /////////////////////////////////////////////////////////////////////////////////////////////////

SET APP STYLESHEET - FULL STYLES HERE
DARK THEME -
///////////////////////////////////////////////////////////////////////////////////////////////// */

/*------------------------------------------------------*/
/*

TopMenu: #202020;
GreenColor: #114b35;
ContentColor: #252525;
HoverColor: ##383838;
checkedbutton: #454545
BorderColor:#303030;
*/

* {	
	font: 13pt "Lucida Casual";
}

QWidget{
	color: rgb(221, 221, 221);
}

/* ==================
	== QMenu
   ================== */
QMenu {
	font: 12pt "Lucida Casual";
 	background: #18191c;
  	border-radius: 4px;
  	border: 1px solid hsla(0, 0%, 100%, 0.3);
  	padding: 10px;
  	color: #b9bbbe;
}

QMenu::separator {
    height: 1px;
    background: hsla(0, 0%, 100%, 0.06);
    margin: 4px;
}
QMenu::item {
    color: #b9bbbe;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 8px;
    min-width: 120px;
    max-width: 240px;
}

QMenu::item:selected {
    background-color: #3d3d3d;
    color: white;
}

QMenu::item:disabled {
    color: #4f545c;
}
QMenu::icon {
    left: 7px;
	right: 7px;
}

QMenu::icon:checked {
   position: absolute;
   right: 7px;
   top: 1px;
   bottom: 1px;
   image-position: right;
   subcontrol-origin: padding;
   subcontrol-position: right center;
}

/* ==================
	== Tooltip
   ================== */
QToolTip {
	color: #ffffff;
	background-color: #202020;
	border: 1px solid #696969;
	text-align: left;
	margin: 0px;
	padding: 3px;	
	font: 9pt "Lucida Casual";
	border-radius: 5px;
}

/* ==================
	== QGroupBox
   ================== */
QGroupBox {
    background-color: #202020;
    border: 2px solid #303030;
    border-radius: 5px;
    margin-top: 1ex; /* leave space at the top for the title */
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left; /* position at the top center */
    padding: 0 3px;
	margin-left: 10px;
    background-color: transparent;
}
/* ==================
	== QPushButtons
   ================== */
QPushButton {
	font: 13pt "Lucida Casual";
	border-radius: 5px;
	background-color: #343434;
	border: none;
	min-height: 50px;
	padding: 3px 15px;
}
/* == Hover == */
QPushButton:hover {
	background-color: #383838;
}
/* == Pressed == */
QPushButton:pressed {	
	background-color: transparent;
	border: 2px solid #303030;
}
/* == !Enabled == */
QPushButton:!enabled {
	color: #73797b;
	background-color: #202020;
}

/* == Remove Menu Indicator from Button with Menu == */
QPushButton::menu-indicator {
	image: none;
}

/* === Buttons Just Icons == */
#buttonRefreshTableWidget,		/* One button refresh table widgets */
#buttonDeleteClient,
#buttonClientActions,
#buttonDeleteEmploye,
#buttonDeleteEmployeOperation,
#buttonExportAccomptDetails,
#buttonDeleteCredit,
#buttonCreditActions,
#buttonDeleteVersement,
#buttonDeleteCharge,
#buttonDeletePayment
{
	min-width: 58;
	min-height: 58;
	padding: 0;
}

#frameSum QPushButton, 
#frameSum_2 QPushButton, 
#frameSum_3 QPushButton {
	min-height: 80px;
	min-width: 66px;
	max-height: 80px;
	max-width: 66px;
	border-radius: 40px;
	background-color: #25d366;
}

QGroupBox .QPushButton {
	background: rgba(56, 56, 56, 109);
}
QGroupBox .QPushButton:hover {		
	background-color: rgba(56, 56, 56, 167);
}
QGroupBox .QPushButton:pressed {	
	background-color: transparent;
}

/*
  == Close/Maximaze/Minimize QPushButtons ==
  == Btn Close ExtraLeftContent ==
*/
#extraIconPlus {
	background-color: transparent; 
	border: none;  
	border-radius: 5px; 
	min-height: 30px;
	min-width: 30px;
	padding: 0;
}

#rightButtons QPushButton,
#extraCloseColumnBtn,
#buttonCloseMsgsFrame
 { 
	background-color: transparent; 
	border: none;  
	border-radius: 5px; 
	min-height: 30px;
	min-width: 40px;
	padding: 0;
}

/* == Hover == */
#rightButtons QPushButton:hover,
#extraCloseColumnBtn:hover  { 
	background-color: #3d3d3d; 
	border-style: solid; 
	border-radius: 4px;
}

/* == Pressed == */
#rightButtons QPushButton:pressed,
#extraCloseColumnBtn:pressed { 
	background-color: rgb(23, 26, 30); 
	border-style: solid; 
	border-radius: 4px; 
}

#rightButtons #closeAppBtn:hover,
#extraCloseColumnBtn:hover {
	background-color: rgb(237, 51, 59);
}

/* == LEFT MENU Buttons == */
#topMenu .QPushButton {	
	font: 13pt "Lucida Casual";
	border-radius: 7px;
	background-color: transparent;
	min-height: 45px;
}

/* == Hover == */
#topMenu .QPushButton:hover {
	background-color: #383838;
}

/* == Pressed == */
#topMenu .QPushButton:pressed {	
	background-color: transparent;
	color: rgb(255, 255, 255);
}

/* == Checked == */
#topMenu .QPushButton:checked,
#buttonPaiementsEtatJournalier:checked {
	/*background-color: rgb(40, 44, 52);*/	
	background-color: #454545;
	color: rgb(255, 255, 255);
}

/* == Toggle Button == */
#toggleMenuButton {
	border: none;
	border-radius: 7px;
	background-color: rgb(37, 41, 48);
	color: rgb(113, 126, 149);
	min-height: 38px;
}
#toggleMenuButton:hover {
	background-color: rgb(40, 44, 52);
}
#toggleMenuButton:pressed {
	background-color: rgb(189, 147, 249);
}

/* ==================
	== QTableWidget
   ================== */
QTableWidget {	
	background-color: transparent;
	padding: 5px 0px;
	border-radius: 5px;
	gridline-color: rgb(52, 59, 72);
	border-bottom: 1px solid rgb(44, 49, 60);	
}
QTableWidget::item{
	border-color: #303030;
	padding-left: 5px;
	padding-right: 5px;
	gridline-color: rgb(44, 49, 60);
}
QTableWidget::item:selected{
	background-color: #3d3d3d;
}
QHeaderView::section{
	background-color: #202020;
	max-width: 30px;
	border: 1px solid #303030;
	border-style: none;
    border-bottom: 1px solid rgb(44, 49, 60);
    border-right: 1px solid #303030;
}
QTableWidget::horizontalHeader {	
	background-color: rgb(33, 37, 43);
}
QHeaderView::section:horizontal
{
    border: 1px solid #303030;
	padding: 3px;
}

/* ==================================================
	== QLineEdit, QSpinBox, QDoubleSpinbox, QDateEdit
   ================================================== */
QLineEdit, 
QSpinBox, 
QDoubleSpinBox, 
QDateEdit
{
	background-color: #202020;
	border-radius: 5px;
	padding: 2px;
	padding-left: 10px;
	selection-color: rgb(255, 255, 255);
	selection-background-color: #3d3d3d;
	min-height: 50px;
	border: 2px solid #303030;
}

QLineEdit {
	min-width: 350px;
}

/* == Hover == */
QLineEdit:hover,
QSpinBox:hover,
QDoubleSpinBox:hover,
QDateEdit:hover {
	border: 2px solid #1a5b25;
}

/* == Focus == */
QLineEdit:focus,
QSpinBox:focus,
QDoubleSpinBox:focus,
QDateEdit:focus {
	border: 2px solid  rgb(33, 112, 46);
}

/* == !Enabled == */
QLineEdit:!enabled,
QSpinBox:!enabled,
QDoubleSpinBox:!enabled,
QDateEdit:!enabled {
	background-color: #202020;
}

QGroupBox QLineEdit {
	border: 1px solid #303030;
}

QGroupBox QLineEdit:hover {
	border: 2px solid #303030;
}

QGroupBox QLineEdit:focus {
	border: 2px solid #303030;
}

/* ============================
   == QPlainText ==
   ============================ */
QPlainTextEdit {
	background-color: #202020;
	border-radius: 5px;
	padding: 10px;
	selection-color: rgb(255, 255, 255);
	selection-background-color: rgb(255, 121, 198);
}
QPlainTextEdit  QScrollBar:vertical {
    width: 8px;
 }
QPlainTextEdit  QScrollBar:horizontal {
    height: 8px;
 }
QPlainTextEdit:hover {
	border: 2px solid #1a5b25;
}
QPlainTextEdit:focus {
	border: 2px solid rgb(33, 112, 46);
}

/* ============================
   == QScrollBar ==
   ============================ */
QScrollBar:horizontal {
    border: none;
    background: rgb(52, 59, 72);
    height: 8px;
    margin: 0px 21px 0 21px;
	border-radius: 0px;
}
QScrollBar::handle:horizontal {
    background: #1dd1a1;
    min-width: 25px;
	border-radius: 4px
}
QScrollBar::add-line:horizontal {
    border: none;
    background: rgb(55, 63, 77);
    width: 20px;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    border: none;
    background: rgb(55, 63, 77);
    width: 20px;
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal
{
     background: none;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
     background: none;
}
 QScrollBar:vertical {
	border: none;
    background: rgb(52, 59, 72);
    width: 8px;
    margin: 21px 0 21px 0;
	border-radius: 0px;
 }
 QScrollBar::handle:vertical {	
	background: #1dd1a1;
    min-height: 25px;
	border-radius: 4px
 }
 QScrollBar::add-line:vertical {
     border: none;
    background: rgb(55, 63, 77);
     height: 20px;
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }
 QScrollBar::sub-line:vertical {
	border: none;
    background: rgb(55, 63, 77);
     height: 20px;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }
 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
     background: none;
 }

 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: none;
 }

/* ============================
   == QCheckBox ==
   ============================ */
QCheckBox::indicator {
    border: 3px solid rgb(52, 59, 72);
	width: 15px;
	height: 15px;
	border-radius: 10px;
    background: rgb(44, 49, 60);
}
QCheckBox::indicator:hover {
    border: 3px solid rgb(58, 66, 81);
}
QCheckBox::indicator:checked {
    background: 3px solid rgb(52, 59, 72);
	border: 3px solid rgb(52, 59, 72);	
	background-image: url(:/icons/images/icons/cil-check-alt.png);
}

/* ============================
   == QRadioButtons ==
   ============================ */
QRadioButton::indicator {
    border: 3px solid rgb(52, 59, 72);
	width: 15px;
	height: 15px;
	border-radius: 10px;
    background: rgb(44, 49, 60);
}
QRadioButton::indicator:hover {
    border: 3px solid rgb(58, 66, 81);
}
QRadioButton::indicator:checked {
    background: 3px solid rgb(94, 106, 130);
	border: 3px solid rgb(52, 59, 72);	
}

/* ============================
   == QComboBox ==
   ============================ */
QComboBox {
    background-color: #202020;
	border-radius: 5px;
	border: 2px solid #303030;
	padding: 0px 5px;
	padding-left: 10px;
	min-height: 50px;
}
QComboBox:hover{
	border: 2px solid #3d3d3d;
}
QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 25px; 
	border-left-width: 3px;
	border-left-color: #303030;
	border-left-style: solid;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;	
	background-image: url(:/icons/images/icons/cil-arrow-bottom.png);
	background-position: center;
	background-repeat: no-reperat;    
 }
QComboBox QAbstractItemView {
	color: #1dd1a1;	
	background-color: #18191c;
	border: 1px solid hsla(0, 0%, 100%, 0.3);
	padding: 8px 10px;
	selection-background-color: #3d3d3d;

}
QComboBox QAbstractItemView::item {
	padding: 8px 10px;
}
/* ============================
   == QSlider ==
   ============================ */
QSlider::groove:horizontal {
    border-radius: 5px;
    height: 10px;
	margin: 0px;
	background-color: rgb(52, 59, 72);
}
QSlider::groove:horizontal:hover {
	background-color: rgb(55, 62, 76);
}
QSlider::handle:horizontal {
    background-color: rgb(189, 147, 249);
    border: none;
    height: 10px;
    width: 10px;
    margin: 0px;
	border-radius: 5px;
}
QSlider::handle:horizontal:hover {
    background-color: rgb(195, 155, 255);
}
QSlider::handle:horizontal:pressed {
    background-color: rgb(255, 121, 198);
}

QSlider::groove:vertical {
    border-radius: 5px;
    width: 10px;
    margin: 0px;
	background-color: rgb(52, 59, 72);
}
QSlider::groove:vertical:hover {
	background-color: rgb(55, 62, 76);
}
QSlider::handle:vertical {
    background-color: rgb(189, 147, 249);
	border: none;
    height: 10px;
    width: 10px;
    margin: 0px;
	border-radius: 5px;
}
QSlider::handle:vertical:hover {
    background-color: rgb(195, 155, 255);
}
QSlider::handle:vertical:pressed {
    background-color: rgb(255, 121, 198);
}

/* ============================
   == QCommandLinkButton ==
   ============================ */
QCommandLinkButton {	
	color: rgb(255, 121, 198);
	border-radius: 5px;
	padding: 5px;
	color: rgb(255, 170, 255);
}
QCommandLinkButton:hover {	
	color: rgb(255, 170, 255);
	background-color: rgb(44, 49, 60);
}
QCommandLinkButton:pressed {	
	color: rgb(189, 147, 249);
	background-color: rgb(52, 58, 71);
}

/* ================================
   == Background Colors
   ================================ */
#centralWidget {
	background-color: rgb(33, 37, 43);
	border: 1px solid rgb(44, 49, 58);
}

#contentWidget {
	background-color: #202020;
	border: 1px solid rgb(44, 49, 58);
}

#widgetMainContent {
	background-color: #252525;
	border-top-left-radius:  15px;
}

#EmployesPage,
#ClientsPage,
#CreditPage,
#VersementPage,
#EmployeOperationsPage,
#ChargePage,
#PaymentsWidgetContainer,
#EtatPage

{
	background-color: #252525;
}

/* == QTabWidget Main Widget === */
#tabeDetailsJournee,
#tabSumByDays,
#tabEtatByDriver,
#scrollAreaGraphContents
{
	background-color: #202020;
}

/* #EtatWidgetContainer {
	background-color: #202020;
} */

#labelDate,
#labelHijri {
	/* font: 14pt "Noto Sans Arabic";*/
	padding-right: 10px;
}

/* ------------------------------
   QTabWidget Dark Theme
--------------------------------*/

QTabWidget::pane {
    border: 2px solid #444;
    background: #222;
    top: -1px;
}

/* Tab bar container */
QTabWidget::tab-bar {
    alignment: center;
}

/* Tabs basic */
QTabBar::tab {
    background: #333;
    color: #ddd;
    padding: 8px 18px;
    margin-right: 2px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #444;
}

/* Hover state */
QTabBar::tab:hover {
    background: #3e3e3e;
}

/* Selected tab */
QTabBar::tab:selected {
    background: #202020;
    color: #fff;
	border-bottom: 0px;
   /* border-bottom: 1px solid #555; /* smooth merge */
}

/* Disabled tab */
QTabBar::tab:disabled {
    background: #222;
    color: #666;
}

/* Bottom, left, right positions */
QTabBar::tab:top:selected    { border-bottom-color: #555; }
QTabBar::tab:bottom:selected { border-top-color: #555;   }
QTabBar::tab:left:selected   { border-right-color: #555;  }
QTabBar::tab:right:selected  { border-left-color: #555;   }

/* Remove tab overlap */
QTabBar::tab:selected {
    margin-bottom: 0px;
}

#etatParLivreurTableWidget QHeaderView:section,
#tabeDetailsJournee QHeaderView:section,
#etatJournalierTableWidget QHeaderView:section {	
	background-color: rgb(60, 62, 65);
}
/* ============================
   == Left Menu ==
   ============================ */
#leftMenuBg {
	background-color: #202020;
}
#buttonIcon {
	/*background-color: rgb(33, 37, 43);
	/*background-image: url(:/images/images/images/app_icon.png);
	background-position: center;
	background-repeat: no-repeat;*/
	padding: 0;
	border: none;
}

#labelUsername {
	font: 11pt "Lucida Casual";
}

#labelUserGroupe {
	font: 8pt "Lucida Casual";
	color: rgb(189, 147, 249);
}

/* Title Menu */
#titleRightInfo
{
	font: 75 italic 17pt "Lucida Casual";
	padding-left: 10px;
}

/* ============================
	== QLabels
===============================*/

/* == Etat Labels ==*/
#etatLabelTitle, #etatLabelTitle_2, #etatLabelTitle_3 {		
	color: rgb(248, 206, 150);	
	font: 75 15pt "Lucida Sans";
}
/* == SUM Labels ==*/
#labelEtatSumCredit,
#labelTotalCredits,
#labelTotalCreditClients,
#labelAddVersementMontant,

#labelTotalCharge,
#labelEtatSumCharge,

#labelEtatSumAccompte,
#labelTotalPayments {
	font: 12pt "Lucida Casual";
	background: #3b3230;
	color: #f77861;
	padding: 12px 10px;
	border-radius: 5px;
}

/* == LABEL COUNTS === */
#labelClientsCount,
#labelCreditCount,
#labelEmployesCount,
#labelAccompteCount,

#labelEtatSumVerse,
#labelVersementCount,

#labelChargeCount,
#labelPaymentsCount
{
	font: 12pt "Lucida Casual";
	background-color: #0d4c3f;
	color: #c4d0cd;
	padding: 0px 10px;
	border-radius: 6px;
}

/* == Accompte SUMS == */
#frameSum,
#frameSum_2,
#frameSum_3
{
	background-color: #1d1f1f;
	border-radius: 15px;
}

#frameSum QPushButton {
	min-width: 78px;
}
#labelSumAvance,
#labelSumRetenu,
#labelSumPrime {
	color: #21c063;
	font: italic 15pt "Lucida Casual";
}

#labelTitleSumAvance,
#labelTitleSumRetenu,
#labelTitleSumPrime {
	color: #929393;
	font: 9pt "Lucida Sans";
}

/* =============
	== LINES
   ============= */
#line, #line_2, #line_3, #line_4, #line_5, #line_6, #line_7, #line_8, #line_9, #line_10, #line_11, #line_12 {
	background-color: #4a4a4a;
}

/* ==================
   == ExtraLeftBox
   ================== */
#extraLeftBox {
	background-color: #272727;
	border: 2px solid #202020;
	border-left-color: #2C3E50;
}
#AddCreditPage,
#AddCreditVersementPage,
#AddPersonePage,
#VersementPage,
#AddEmpOperationPage,
#salairePage,
#addChargePage
{	
	background-color: #272727;
}
#extraTopBg{	
	background-color: #202020;
}

/* == Icon == */
#extraIcon {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(:/icons/images/icons/cil-plus.png);
}

/* Label */
#extraLabelTitle { color: #00AFF0; }

#widgetSalairePage QLabel {
	padding: 5px;
	font: 75 14pt "Lucida Casual";
	border: 1px solid rgb(44, 49, 60);
	border-top: none;
	border-left: none;
	border-right: none;
}

/* == Extra Content == */
#extraContent{
	/*border-top: 3px solid #2a2a2a;*/
	border-top-left-radius: 15px;
}

/* == Extra Top Menus == */
#extraTopMenu .QPushButton {
background-position: left center;
    background-repeat: no-repeat;
	border: none;
	border-left: 22px solid transparent;
	background-color:transparent;
	text-align: left;
	padding-left: 44px;
}
#extraTopMenu .QPushButton:hover {
	background-color: rgb(40, 44, 52);
}
#extraTopMenu .QPushButton:pressed {	
	background-color: rgb(189, 147, 249);
	color: rgb(255, 255, 255);
}

/* =================
   == UPBAR
   ================= */
#contentTopBg{	
	background-color: #202020;
}

/* ==================
   == Frame Messages
   ================== */
#frameMsgs {
	/*background: rgba(38, 162, 105, 88);*/
	background-color: rgba(60, 184, 127, 47);
	border-radius: 5px;
}

#labelMsgs {
	color: #44e37b;
	padding: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#frameMsgs QPushButton {
	background: transparent;
	border: none;
	border-radius: 0;
	border-top-right-radius: 5px;	
	border-bottom-right-radius: 5px;
}
#frameMsgs QPushButton:hover {
	border: none;
}
