/* /////////////////////////////////////////////////////////////////////////
   LIGHT THEME - Converted from your Dark Theme
///////////////////////////////////////////////////////////////////////// */

* {
    font: 13pt "Lucida Casual";
}

QWidget {
    color: #222;
    /* background-color: #f7f7f7; */
}

/* ==================
   QMenu
================== */
QMenu {
    font: 12pt "Lucida Casual";
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    padding: 10px;
    color: #444;
}

QMenu::separator {
    height: 1px;
    background: #e5e5e5;
    margin: 4px;
}

QMenu::item {
    color: #444;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 8px;
    min-width: 120px;
    max-width: 240px;
}

QMenu::item:selected {
    background-color: #e9e9e9;
    color: #000;
}

QMenu::item:disabled {
    color: #9e9e9e;
}
QMenu::icon {
    left: 7px;
	right: 7px;
}
QMenu::icon:checked {
   position: absolute;
   right: 7px;
   top: 1px;
   bottom: 1px;
   image-position: right;
   subcontrol-origin: padding;
   subcontrol-position: right center;
}
/* ==================
   Tooltip
================== */
QToolTip {
    color: #000;
    background-color: #ffffe0;
    border: 1px solid #bfbfbf;
    padding: 3px;
    font: 9pt "Lucida Casual";
    border-radius: 5px;
}

/* ==================
   QGroupBox
================== */
QGroupBox {
    background-color: #ffffff;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    margin-top: 1ex;
}

QGroupBox::title {
    padding: 0 3px;
    margin-left: 10px;
    background-color: transparent;
}

/* ==================
   QPushButton
================== */
QPushButton {
    font: 13pt "Lucida Casual";
    border-radius: 5px;
    background-color: #efefef;
    border: 1px solid #d0d0d0;
    min-height: 50px;
    padding: 3px 15px;
}

QPushButton:hover {
    background-color: #e4e4e4;
}

QPushButton:pressed {
    background-color: #ffffff;
    border: 2px solid #b0b0b0;
}

QPushButton:!enabled {
    color: #c1c1c1;
    background-color: #f5f5f5;
}

/* === Buttons Just Icons == */
#buttonRefreshClientsTable,
#buttonDeleteClient,

#buttonRefreshEmpolyeTable,
#buttonDeleteEmploye,

#buttonRefreshEmpolyeOperationTable,
#buttonDeleteEmployeOperation,
#buttonExportAccomptDetails,

#buttonRefreshCreditTable,
#buttonRefreshChargeTable,

#buttonDeleteCredit,
#buttonDeleteVersement,
#buttonDeleteCharge,
#buttonRefreshChargeTable
{
	min-width: 50;
	min-height: 50;
	padding: 0;
}

/* ====== frameSum (avance, ...) Buttons =========*/
#frameSum .QPushButton, 
#frameSum_2 .QPushButton, 
#frameSum_3 .QPushButton {	
	background-color: #25d366;
	min-width: 50px;
	min-height: 50px;
	max-width: 50px;
	max-height: 50px;
	padding: 0px;
}
/*
  == Close/Maximaze/Minimize QPushButtons ==
  == Btn Close ExtraLeftContent ==
*/
#extraIconPlus {
	background-color: transparent; 
	border: none;  
	border-radius: 5px; 
	min-height: 30px;
	min-width: 30px;
	padding: 0;
}

#rightButtons QPushButton,
#extraCloseColumnBtn,
#buttonCloseMsgsFrame
 { 
	background-color: transparent; 
	border: none;  
	border-radius: 5px; 
	min-height: 40px;
	min-width: 40px;
	padding: 0;
}

/* == Hover == */
#rightButtons QPushButton:hover,
#extraCloseColumnBtn:hover  { 
	background-color: #FFFFFF; 
	border-style: solid; 
	border-radius: 4px;
}

/* == Pressed == */
#rightButtons QPushButton:pressed,
#extraCloseColumnBtn:pressed { 
	background-color: transparent; 
	border-style: solid; 
	border-radius: 4px; 
}

#rightButtons #closeAppBtn:hover,
#extraCloseColumnBtn:hover {
	background-color: rgb(237, 51, 59);
}

/* == LEFT MENU Buttons == */
#topMenu .QPushButton {	
	font: 13pt "Lucida Casual";
	border-radius: 7px;
	background-color: transparent;
	min-height: 45px;
}

/* == Hover == */
#topMenu .QPushButton:hover {
	background-color: #E5E9E7;
}

/* == Pressed == */
#topMenu .QPushButton:pressed {	
	background-color: transparent;
	color: #1B8755;
}

/* == Checked == */
#topMenu .QPushButton:checked {
	/*background-color: rgb(40, 44, 52);*/	
	background-color: #ffffff;
	color: #1B8755;
}

/* == Toggle Button == */
#toggleMenuButton {
	border: none;
	border-radius: 7px;
	background-color: #EAEAEA;
	color: rgb(113, 126, 149);
	min-height: 38px;
}

#toggleMenuButton:pressed {
	background-color: transparent;
}
/* ==================
   QTableWidget
================== */
QTableWidget {
    background-color: #ffffff;
    padding: 5px 0px;
    border-radius: 5px;
    gridline-color: #dcdcdc;
    border-bottom: 1px solid #cfcfcf;
}

QTableWidget::item {
    border-color: #dcdcdc;
    padding-left: 5px;
    padding-right: 5px;
}

QTableWidget::item:selected {
    background-color: #dfe9ff;
    color: #444;
}

QHeaderView::section {
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
}

/* ==================
   QLineEdit, SpinBoxes
================== */
QLineEdit,
QSpinBox,
QDoubleSpinBox,
QDateEdit {
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    padding-left: 10px;
    min-height: 50px;
}

QLineEdit:hover,
QSpinBox:hover,
QDoubleSpinBox:hover,
QDateEdit:hover,
QPlainTextEdit:hover,
QTextBrowser:hover{
    border: 2px solid #a0c4ff;
}

QLineEdit:focus,
QSpinBox:focus,
QDoubleSpinBox:focus,
QDateEdit:focus,
QPlainTextEdit:focus,
QTextBrowser:focus{
    border: 2px solid #388bfd;    
}

/* ==================
   QPlainTextEdit
================== */
QPlainTextEdit,
QTextBrowser {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    selection-color: #ffffff;
    selection-background-color: #5599ff;
    border: 1px solid #dfdfdf;
}

/* ==================
   QScrollBar
================== */
QScrollBar:horizontal {
    border: none;
    background: #efefef;
    height: 8px;
    margin: 0px 21px 0 21px;
	border-radius: 0px;
}

QScrollBar::handle:horizontal {
    background: #bfbfbf;
    min-width: 25px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal {
    border: none;
    background: #bfbfbf;
    width: 20px;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: none;
    background: #bfbfbf;
    width: 20px;
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal
{
     background: none;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
     background: none;
}
/*------ Vertical QScrollBar -------*/
QScrollBar:vertical {
	border: none;
    background: #efefef;
    width: 8px;
    margin: 21px 0 21px 0;
	border-radius: 0px;
}

QScrollBar::handle:vertical {
    background: #bfbfbf;
    min-height: 25px;
    border-radius: 4px;
}

QScrollBar::add-line:vertical {
    border: none;
    background: #bfbfbf;
    height: 20px;
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
	border: none;
    background: #bfbfbf;
    height: 20px;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    subcontrol-position: top;
    subcontrol-origin: margin;
 }
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* ==================
   QCheckBox & QRadioButton
================== */
QCheckBox::indicator,
QRadioButton::indicator {
    border: 2px solid #bdbdbd;
    background: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 10px;
}

QCheckBox::indicator:checked {
    background-image: url(:/icons/images/icons/cil-check-alt.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* ==================
   QComboBox
================== */
QComboBox {
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    padding: 0px 5px;
	padding-left: 10px;
	min-height: 50px;
}
QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 25px; 
	border-left-width: 3px;
	border-left-color: #D9D9D9;
	border-left-style: solid;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;	
	background-image: url(:/icons/images/icons/cil-arrow-bottom.png);
	background-position: center;
	background-repeat: no-reperat;    
 }

QComboBox:hover {
    border: 2px solid #a0c4ff;    
}

QComboBox QAbstractItemView {
    background-color: #ffffff;
    color: #444;
    border: 1px solid #d0d0d0;
    padding: 8px 10px;
    selection-background-color: #aca7a7;
}

QComboBox QAbstractItemView::item {
	padding: 8px 10px;
}

QComboBox QAbstractItemView::item:selected {
    background-color: #dfe9ff;
}

/* ==================
   QSlider
================== */
QSlider::groove:horizontal,
QSlider::groove:vertical {
    background-color: #dedede;
    border-radius: 5px;
}

QSlider::handle:horizontal,
QSlider::handle:vertical {
    background-color: #4b90ff;
    border-radius: 5px;
}

/* ==================
   QCommandLinkButton
================== */
QCommandLinkButton {
    color: #0066cc;
}

QCommandLinkButton:hover {
    background-color: #e9e9e9;
}

/* ==================
   QTabWidget (Light)
================== */
QTabWidget::pane {
    border: 2px solid #cccccc;
    background: #ffffff;
}

QTabBar::tab {
    background: #f0f0f0;
    color: #333;
    padding: 8px 18px;
    border: 1px solid #d0d0d0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

QTabBar::tab:hover {
    background: #e8e8e8;
}

QTabBar::tab:selected {
    background: #ffffff;
    color: #000;
    border-bottom: none;
}

/* ==================
   Background Sections
================== */

#centralWidget,
#contentWidget,
#widgetMainContent,
#EmployesPage,
#ClientsPage,
#CreditPage,
#VersementPage,
#EmployeOperationsPage,
#ChargePage,
#PaymentsWidgetContainer,
#EtatPage,
#tabeDetailsJournee,
#tabSumByDays,
#tabEtatByDriver {
    background-color: #ffffff;
}

#leftMenuBg {
    background-color: #f3f3f3;
}

#contentTopBg {
    background-color: #f3f3f3;
}

/* ==================
   == ExtraLeftBox
   ================== */
#extraLeftBox {
	border: 2px solid #D9D9D9;
    border-top: 0;
    border-bottom: 0;
}

#extraTopBg{	
	border: 2px solid #D9D9D9;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#labelUsername {
	font: 11pt "Lucida Casual";
}

#labelUserGroupe {
	font: 8pt "Lucida Casual";
	color: rgb(189, 147, 249);
}

/* Title Menu */
#titleRightInfo
{
	font: 75 italic 17pt "Lucida Casual";
	padding-left: 10px;
}
/* ============================
	== QLabels
===============================*/
/* == Etat Labels ==*/
#etatLabelTitle, #etatLabelTitle_2, #etatLabelTitle_3 {		
	color: rgb(248, 206, 150);	
	font: 75 15pt "Lucida Sans";
}

/* == SUM Labels ==*/
#labelTotalCredits,
#labelTotalCreditClients,
#labelAddVersementMontant,

#labelTotalCharge,

#labelTotalPayments
{
	font: 12pt "Lucida Casual";
	background: #f17256;
	color: #fbfbfb;
	padding: 12px 10px;
	border-radius: 5px;
}

/* === QPushButton EXCEL ETAT === */

#frameExcelEtatButtons .QPushButton,
#frameDBEtatButtons .QPushButton
{
	font: 12pt "Lucida Casual";
	background: #f17256;
	color: #fbfbfb;
	border-radius: 5px;
    padding: 0;

	max-height: 50px;
	min-height: 50px;
}

/*# TODO: change the name from label to btn because type (QPushButton)*/
#frameExcelEtatButtons #btnEtatSumExcelVersement,
#frameDBEtatButtons #labelEtatSumVerse {
	font: 12pt "Lucida Casual";
	background: #2c9882;
	color: #dfeeeb;
}

/*----------------------------------------------*/

/* == LABEL COUNTS === */
#labelClientsCount,
#labelCreditCount,
#labelEmployesCount,
#labelAccompteCount,

#labelVersementCount,

#labelChargeCount,
#labelPaymentsCount
{
	font: 12pt "Lucida Casual";
	background-color: #2c9882;
	color: #dfeeeb;
	padding: 0px 10px;
	border-radius: 6px;
}

/* == Accompte SUMS == */
#frameSum,
#frameSum_2,
#frameSum_3
{
	background-color: #f3f3f3;
	border-radius: 7px;
}

#labelSumAvance,
#labelSumRetenu,
#labelSumPrime {
	color: #21c063;
	font: italic 15pt "Lucida Casual";
}

#labelTitleSumAvance,
#labelTitleSumRetenu,
#labelTitleSumPrime {
	color: #929393;
	font: 9pt "Lucida Sans";
}


/* Label */
#labelDate,
#labelHijri {
	/* font: 14pt "Noto Sans Arabic";*/
    padding: 0 15px;
}

#extraLabelTitle { color: #1B8755; }

#widgetSalairePage QLabel {
	padding: 5px;
	font: 75 14pt "Lucida Casual";
	/*border: 1px solid rgb(44, 49, 60);*/
	border-top: none;
	border-left: none;
	border-right: none;
}
#frameMsgs {
	/*background: rgba(38, 162, 105, 88);*/
	background-color: rgba(60, 184, 127, 47);
	border-radius: 5px;
}

#labelMsgs {
	color: #44e37b;
	padding: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
/* =============
	== LINES
   ============= */
#line, #line_2, #line_3, #line_4, #line_5, #line_6, #line_7, #line_8, #line_9, #line_10, #line_11, #line_12 {
	background-color: #D9D9D9;
}
